.detailCardWrapper {
    display: flex;
    margin: 0 auto;
    width: calc(100% - 40px);
    background-color: white;
    border-radius: 16px;
    max-width: fit-content;
}

.thumbnail {
    height: 300px;
    border: 2px solid #A8620A;
    width: 100%;
    object-fit: contain;
}

.brandName {
    font-size: 20px;
    font-weight: 600;
}

.ratings {
    display: flex;
    gap: 10px;
}

.discount {
    font-size: 20px;
    font-weight: 600;
}

.leftCard {
    padding: 20px;
}

.rightCard {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description {
    font-size: 14px;
}

.star {
 height: 20px; 
}

@media (max-width: 1024px) {
    .detailCardWrapper {
        flex-direction: column;
        align-items: center;
    }
}