.selectWrapper {
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #920AA8;
    width: 150px;
}

.selectItem {
    padding: 10px;
    color: #920AA8;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.optionWrapper {
}