.heroMidImg {
    width: 300px;
}

.filterSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.breadCrumb {
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.screenWrapper {
    padding-top: 20px;
}

.gridWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gridUnit {
    padding: 10px;
}

@media (max-width: 768px) {
    .gridWrap {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1600px) {
    .gridUnit {
        padding: 40px;
    }
}